<script src="/js/static.js"></script>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
	{{- if .IsHome -}}
	{{ .Site.Title }} - {{ .Site.Params.slogan -}}
	{{- else -}}
	{{ .Title }} - {{ .Site.Title -}}
	{{- end -}}
</title>
<!-- <meta name="description" content="{{ .Description | default (truncate 145 .Summary) }}"> -->
<meta name="description" content="{{- with .Description -}}{{- . -}}{{- else -}}{{- if .IsPage -}}{{- .Summary -}}{{- else -}}{{- .Site.Params.defaultDescription -}}{{- end -}}{{- end -}}">
{{- /* alternate output formats e.g rss feed */ -}}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
{{- /* canonical rel tags */ -}}
{{- if .IsNode -}}
<link rel="canonical" href="{{ .Paginator.URL | absURL }}">
{{- if .Paginator.HasNext -}}
<link rel="next" href="{{ .Paginator.Next.URL | absURL }}">
{{- end -}}
{{- if .Paginator.HasPrev -}}
<link rel="prev" href="{{ .Paginator.Prev.URL | absURL }}">
{{- end -}}
{{- else -}}
<link rel="canonical" href="{{ .Permalink | absURL }}">
{{- end -}}
{{ template "_internal/twitter_cards.html" . }}
{{ with .Site.Params.twitterSite -}}
<meta name="twitter:site" content="{{ . }}" />
{{ end -}}
{{ with .Site.Params.twittercreator -}}
<meta name="twitter:creator" content="{{ . }}" />
{{ end -}}
{{ template "_internal/opengraph.html" . }}

{{ partial "esbuild" "js/vendor.js" }}
{{ partial "esbuild" "js/assets.js" }}

<!-- Bootstrap icons font (all icons) -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> -->
<!-- Bootstrap CSS -->
{{ partial "libsass" "scss/main.scss" }}
 